In [25]:
import tweepy
import pandas as pd
import sys

# Enter your twitter credentials here
# Authentication
consumerKey = "dlmSwyiJRNgL5a5y7tD0Zjxgr"
consumerSecret = "tMxnFrRs1088cqIjlDnaG4RUT9xs1AXd3Mpwvv3TNaUxUsnx0D"
accessToken = "1518310189962780672-fpocSf7XDjjl3LctVad2pCDEXnoF0a"
accessTokenSecret = "GWYlpl3UuYg4TQ003BeL3FIqpDsV9jptyPRenF0PuGGr2"

# Twitter authentication and the connection to Twitter Streaming API
auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)

# Initializing Tweepy API
api = tweepy.API(auth, wait_on_rate_limit=True)

# Streaming a tweet
cursor= tweepy.Cursor(api.user_timeline, tweet_mode="extended").items(1)

# Printing list of attributes and methods (fields) of tweet object
for i in cursor:
    print(dir(i))

In [26]:
import json
import csv
import tweepy
import re
import io

In [27]:
# Authentication
consumerKey = "dlmSwyiJRNgL5a5y7tD0Zjxgr"
consumerSecret = "tMxnFrRs1088cqIjlDnaG4RUT9xs1AXd3Mpwvv3TNaUxUsnx0D"
accessToken = "1518310189962780672-fpocSf7XDjjl3LctVad2pCDEXnoF0a"
accessTokenSecret = "GWYlpl3UuYg4TQ003BeL3FIqpDsV9jptyPRenF0PuGGr2"

In [32]:
def create_dataset(consumerKey, consumerSecret, accessToken, accessTokenSecret, hashtag_phrase):
    
    # Twitter authentication and the connection to Twitter API
    auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
    auth.set_access_token(accessToken, accessTokenSecret)
    
    # Initializing Tweepy API
    api = tweepy.API(auth, wait_on_rate_limit=True)
    
    # Name of csv file to be created
    fname = "dataset"
    
    # Open the spreadsheet
    with open('%s.csv' % (fname), 'w', encoding="utf-8") as file:
        w = csv.writer(file)
        
        # Write header row (feature column names of your choice)
        w.writerow(['timestamp', 'tweet_text', 'username', 'all_hashtags', 'location', 
                    'followers_count', 'retweet_count', 'favorite_count'])
        
        # For each tweet matching hashtag, write relevant info to the spreadsheet
        for tweet in tweepy.Cursor(api.search_tweets, q=hashtag_phrase+' -filter:retweets', lang="en", tweet_mode='extended').items(30000):
            w.writerow([tweet.created_at, 
                        tweet.full_text.replace('\n',' ').encode('utf-8'), 
                        tweet.user.screen_name.encode('utf-8'), 
                        [e['text'] for e in tweet._json['entities']['hashtags']],  
                        tweet.user.location, 
                        tweet.user.followers_count, 
                        tweet.retweet_count, 
                        tweet.favorite_count])

# Enter your hashtag here
hashtag_phrase= "milk producer prices"

if __name__ == '__main__':
    create_dataset(consumerKey, consumerSecret, accessToken, accessTokenSecret, hashtag_phrase)

In [33]:
df = pd.read_csv('dataset.csv')

In [34]:
df.head()

,timestamp,tweet_text,username,all_hashtags,location,followers_count,retweet_count,favorite_count
0,2022-04-29 20:20:17+00:00,b'News: Producer Milk Prices are High! How Lon...,b'dairybusiness',[],"Indianapolis, IN",8219,0,0
1,2022-04-27 16:55:29+00:00,"b'since whales are mammals can produce milk, i...",b'KeeganKlasner',[],NaN,7,3,4

In [31]:
df.shape

(2, 8)

In [35]:
def create_dataset(consumerKey, consumerSecret, accessToken, accessTokenSecret, hashtag_phrase):
    
    # Twitter authentication and the connection to Twitter API
    auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
    auth.set_access_token(accessToken, accessTokenSecret)
    
    # Initializing Tweepy API
    api = tweepy.API(auth, wait_on_rate_limit=True)
    
    # Name of csv file to be created
    fname = "dataset1"
    
    # Open the spreadsheet
    with open('%s.csv' % (fname), 'w', encoding="utf-8") as file:
        w = csv.writer(file)
        
        # Write header row (feature column names of your choice)
        w.writerow(['timestamp', 'tweet_text', 'username', 'all_hashtags', 'location', 
                    'followers_count', 'retweet_count', 'favorite_count'])
        
        # For each tweet matching hashtag, write relevant info to the spreadsheet
        for tweet in tweepy.Cursor(api.search_tweets, q=hashtag_phrase+' -filter:retweets', lang="en", tweet_mode='extended').items(30000):
            w.writerow([tweet.created_at, 
                        tweet.full_text.replace('\n',' ').encode('utf-8'), 
                        tweet.user.screen_name.encode('utf-8'), 
                        [e['text'] for e in tweet._json['entities']['hashtags']],  
                        tweet.user.location, 
                        tweet.user.followers_count, 
                        tweet.retweet_count, 
                        tweet.favorite_count])

# Enter your hashtag here
hashtag_phrase= "milk consumer prices"

if __name__ == '__main__':
    create_dataset(consumerKey, consumerSecret, accessToken, accessTokenSecret, hashtag_phrase)

In [37]:
df2 = pd.read_csv('dataset1.csv')

In [38]:
df2.head()

,timestamp,tweet_text,username,all_hashtags,location,followers_count,retweet_count,favorite_count
0,2022-04-29 04:17:02+00:00,b'Raw material volatility impacts cost forecas...,b'MarketsCafe',"['Industry', 'EconomicTimes']",India,1430,0,0
1,2022-04-28 17:12:00+00:00,b'Since the Biden admin settled in in Jan 2021...,b'FreedomFdtn',['Bidenflation'],USA,8812,3,4
2,2022-04-28 14:57:41+00:00,b'@redsteeze Strong consumer spending strongly...,b'Siconik1',[],NaN,99,0,3
3,2022-04-28 12:02:10+00:00,b'Continued demand for non-GMO feed for livest...,b'FeedFolks',"['IFEEDER', 'GMFreeFeed']","Arlington, Va.",3585,1,3
4,2022-04-27 16:23:21+00:00,b'@chris_honeybee It impacts my perception of ...,b'orndorf77',[],"Port St Lucie, FL",58,0,2

In [39]:
df2.shape

(13, 8)